<div class="home-page-box">
    <div class="home-page">
        <div class="img-avatar-box">
            <img src="../../../assets/images/logo-default.png" alt="avatar" class="img-avatar">
            <img src="../../../assets/icons/icon-check.png" alt="check" class="icon-check">
        </div>
        <div class="home-page__titles">
            <div class="home-page__title" style="font-size: 26px; font-weight: bold;">M.A.I CLOTHING</div>
            <div class="home-page__title">Chuyên Sỉ & Lẻ Hàng QC – Thời Trang Cao Cấp</div>
            <div class="home-page__title">Xử lý đổi trả hàng: 0363718937 / 0965203227</div>
        </div>
        <div class="home-page__socials">
            <div class="home-page__social" (click)="handleClick('zalo')">
                <img src="../../../assets/icons/icon-zalo.png" alt="icon-zalo" class="icon-zalo">
                <p>Link Nhóm Sỉ Zalo</p>
            </div>
            <div class="home-page__social" (click)="handleClick('facebook')">
                <img src="../../../assets/icons/icon-facebook.png" alt="icon-facebook" class="icon-facebook">
                <p>Link Fanpage</p>
            </div>
            <div class="home-page__social" (click)="handleClick('instagram')">
                <img src="../../../assets/icons/icon-instagram.png" alt="icon-instagram" class="icon-instagram">
                <p>Link Instagram</p>
            </div>
            <div class="home-page__social" (click)="handleClick('shoppe')">
                <img src="../../../assets/icons/icon-shoppe.png" alt="icon-shoppe" class="icon-shoppe">
                <p>Link Shoppe</p>
            </div>
            <div class="home-page__social" (click)="handleClick('tiktok')">
                <img src="../../../assets/icons/icon-tiktok.png" alt="icon-tiktok" class="icon-tiktok">
                <p>Link Tiktok</p>
            </div>
        </div>
        <!-- <div class="home-page__product">
            <div class="product__item"></div>
            <div class="product__item"></div>
            <div class="product__item"></div>
            <div class="product__item"></div>
            <div class="product__item"></div>
            <div class="product__item"></div>
            <div class="product__item"></div>
            <div class="product__item"></div>
        </div> -->
    </div>
</div>
